In [1]:
%matplotlib inline

# Simple Python exercises

**1**. Make a list of the numbers 1 to 10.

In [1]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**2**. Make a list of the first 10 square numbers.

In [2]:
[i**2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**3**. Make a list of the first 10 square numbers in reversed order.

Method 1

In [3]:
[i**2 for i in range(10, 0, -1)]

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

Method 2

In [ ]:
list(reversed([i**2 for i in range(1, 11)]))

Method 3

In [6]:
[i**2 for i in range(1, 11)][::-1]

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

**4**. Repeat 3 but only keep the square numbers divisible by 4.

Method 1

In [8]:
[j for j in [i**2 for i in range(10, 0, -1)] if j%4==0]

[100, 64, 36, 16, 4]

Method 2 - if the square is divisible by 4, the original must be divisible by 2.

This method is more efficient.

In [9]:
[i**2 for i in range(10, 0, -1) if i%2 == 0]

[100, 64, 36, 16, 4]

**5**. A Pythagoran triple is a tuple of 3 positive integers (a, b, c) such that $a^2 + b^2 =c ^2$. Find the unique Pythagorean triples where c is less than 20.

In [17]:
eps = 1e-12
triples = []
for a in range(1, 20):
    for b in range(a, 20):
        c = (a**2 + b**2)**0.5
        if c < 20 and c % 1 < eps:
            triples.append((a, b, int(c)))
triples

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15)]

In [19]:
triples = []
for a in range(1, 20):
    for b in range(a, 20):
        for c in range(b, 20):
            if a**2 + b**2 == c**2:
                triples.append((a, b, c))
triples

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15)]

In [11]:
dna = """
TTTAAATTCCCTGGCACCCGCTGGAGTTCTCGATTTCGAC
CAACCACGACGGTGTGATTCTGAATGTAGTTAGTATCTAC
CCAGAGCTCAGGTCATATCGCGCCAAGCATAAAGGTGGCT
GTTGAAAGTCGATGTCCGTATAAGTTCCGTTTCCTAATGA
"""

**6**. Remove any blank space characters including newlines in dna.

Method 1

In [21]:
''.join(dna.split())

'TTTAAATTCCCTGGCACCCGCTGGAGTTCTCGATTTCGACCAACCACGACGGTGTGATTCTGAATGTAGTTAGTATCTACCCAGAGCTCAGGTCATATCGCGCCAAGCATAAAGGTGGCTGTTGAAAGTCGATGTCCGTATAAGTTCCGTTTCCTAATGA'

Method 2

In [22]:
import string

In [25]:
string.whitespace

' \t\n\r\x0b\x0c'

In [35]:
table = str.maketrans('', '', string.whitespace)
dna.translate(table)

'TTTAAATTCCCTGGCACCCGCTGGAGTTCTCGATTTCGACCAACCACGACGGTGTGATTCTGAATGTAGTTAGTATCTACCCAGAGCTCAGGTCATATCGCGCCAAGCATAAAGGTGGCTGTTGAAAGTCGATGTCCGTATAAGTTCCGTTTCCTAATGA'

Method 3

**7**. Find the unique bases in dna.

In [37]:
dna = ''.join(dna.split())
set(dna)

{'A', 'C', 'G', 'T'}

**8**. Find the position of the first occrurence of 'C' in dna.

In [38]:
dna.index('C')

8

**9**. Find the position of the second occurrence of 'G' in dna.

Method 1

In [40]:
dna.index('C', 9)

9

Method 2

In [48]:
import itertools as it

(it.islice((i for i, c in enumerate(dna) if c=='C'), 1, 2)).__next__()

9

In [41]:
dna[8:10]

'CC'

**10**. What is the sequence of the complementary strand of DNA? Recall from grade school biology that A is complementary to T and C is complementary to G.

In [49]:
table = str.maketrans('ACTG', 'TGAC')
dna.translate(table)

'AAATTTAAGGGACCGTGGGCGACCTCAAGAGCTAAAGCTGGTTGGTGCTGCCACACTAAGACTTACATCAATCATAGATGGGTCTCGAGTCCAGTATAGCGCGGTTCGTATTTCCACCGACAACTTTCAGCTACAGGCATATTCAAGGCAAAGGATTACT'

**11**. Can you print the complemntary DNA strand with only 40 characters to a line

Using regular Python

In [51]:
start = 0
stop = 40
while start < len(dna):
    print(dna[start:stop])
    start = stop
    stop += 40

TTTAAATTCCCTGGCACCCGCTGGAGTTCTCGATTTCGAC
CAACCACGACGGTGTGATTCTGAATGTAGTTAGTATCTAC
CCAGAGCTCAGGTCATATCGCGCCAAGCATAAAGGTGGCT
GTTGAAAGTCGATGTCCGTATAAGTTCCGTTTCCTAATGA

Using bash magic

In [54]:
%%bash -s "$dna"

echo $1 | fold -w 40

TTTAAATTCCCTGGCACCCGCTGGAGTTCTCGATTTCGAC
CAACCACGACGGTGTGATTCTGAATGTAGTTAGTATCTAC
CCAGAGCTCAGGTCATATCGCGCCAAGCATAAAGGTGGCT
GTTGAAAGTCGATGTCCGTATAAGTTCCGTTTCCTAATGA

**12**. A 1-D random walk experiment starts from value 0, then either adds or subtracts 1 at each step. Run $n$ such random walks, each time recording the final value after $k$ steps. Show the counts of eac final value. What is the mean and standard deviaiton of the final values?

Let $n$ = 10000 and $k=100$.  Use the standard libary package `random` to generate random steps.

Method 1

In [55]:
import random

In [86]:
n = 10000
k = 100

vals =  []
for i in range(n):
    vals.append(sum(2 * random.randint(0, 1) - 1 for i in range(k)))

In [87]:
mu = sum(vals)/n
mu

-0.0768

In [88]:
var = sum((v - mu)**2 for v in vals)/n
sd = var**0.5
sd

9.980045178254178

Method 1.5

In [89]:
import statistics

In [90]:
statistics.mean(vals)

-0.0768

In [91]:
statistics.stdev(vals)

9.980544217941656

Method 2

In [92]:
import numpy as np

In [93]:
n = 10000
k = 100

xs = np.random.choice([-1, 1], (n, k))
vals = xs.sum(axis=1)
vals.mean(), vals.std()

(-0.049000000000000002, 10.04173286838482)